# Apple
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# IPython
/srv/ipython/*
!/srv/ipython/profile_default
/srv/ipython/profile_default/*
!/srv/ipython/profile_default/ipython_kernel_config.py

# Jupyter
/srv/jupyter/*
!/srv/jupyter/nbconfig
/srv/jupyter/nbconfig/*
!/srv/jupyter/nbconfig/notebook.json

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Secrets
.env
