# Apple
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# Python
*.py[cod]
*.egg
*.egg-info
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv
jupyter_notebook_config.*

# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle

# Secrets
.env
/srv/ipython/*
!/srv/ipython/profile_default
/srv/ipython/profile_default/*
!/srv/ipython/profile_default/ipython_kernel_config.py
/srv/jupyter/*
!/srv/jupyter/nbconfig
/srv/jupyter/nbconfig/*
!/srv/jupyter/nbconfig/notebook.json
