# Apple
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# IPython
/ipython/*
!/ipython/profile_default/
/ipython/profile_default/*
!/ipython/profile_default/ipython_kernel_config.py

# Jupyter
/jupyter/*
!/jupyter/nbconfig
/jupyter/nbconfig/*
!/jupyter/nbconfig/notebook.json

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Secrets
.env
